*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --red-: #FF0000;
  --boston-university-red-: #CC0000; 
  --cerulean-blue-: #3B4CCA;
  --golden-yellow-: #FFDE00;
  --gold-foil-: #B3A125;
}

body {
  position: relative;
  height: 100vh;
  background-color: black;
 
}

&::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/images/pokemonApp\ wallpaper.png');
  background-size: cover;
  opacity: 0.2;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
  
}

h1 {
  font-size: 1.8rem;
  transform: scale(1, 2);
  font-family: "Arial Black";
  text-decoration: underline;
  color: white;
  margin: 40px;

}

.container {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 50px;
  max-width: 80%;
  background-color: white;
  margin: 10px;
  border: 0.1rem solid;
  border-radius: 20px;
  box-shadow: 0 0 30px black;

}

.output-bottom,
#search-form {
  display: flex;
  justify-content: center;

}

#search-form {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  padding-bottom: 28px;
  border-radius: 20px 20px 0 0;
  gap: 2px;
}

label {
  font-size: 1.2rem;
  font-weight: bold;

}

input {
  width: 50%;
  height: 40px;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: grab;
  box-shadow: -2px 2px 10px #228b22;
  text-align: center;
  
}

input:hover {
  box-shadow: 0 0 10px red;
  width: 50%;
  
}

button {
  background-color: red;
  border: 1px solid black;
  width: 90px;
  cursor: grab;
  font-size: 1.4rem;
  padding: 6px 0;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 7px black;
  color: white;
}

button:hover {
background-color: #228b22;
}

.search-output {
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: white;
 margin: 10px 0;
 padding: 10px;
 
}

#pokemon-name {
  display: flex;
  font-weight: bold;
  justify-content: center;
  
}

#pokemon-id {
  display: flex;
  justify-content: center;
}

.pokemon-size {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 34px;
  
}

#weight {
  margin: 4px;
}

#height {
  margin: 4px;
}

.output-top,
.output-bottom {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  min-width: 80%;
  align-items: center;


}

.sprite-div {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#sprite {
  width: 200px;
}

#types {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80px;
  min-height: 40px;
  
}

.type {
  font-size: .8rem;
  font-weight: bold;
  width: 90px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  background-color: black;
  border: .8px solid;
  box-shadow: 0 0 8px black;
  border-radius: 10px;
  margin: 20px;
  
}

table {
max-width: 90%;
box-shadow: 0 0 5px black;
border-collapse: seperate;

}

.table-stats {
  padding: 10px;
}

.table-base,
.table-stats {
  color: black;
  border: transparent;
}

th, 
tr {
  background-color: green;
  border: 1px solid;

}

tr {
  text-align: center;
  color: white;
  height: 40px;
  font-size: 1.4rem;

}

.stat-name {
  padding: 10px;
}

td {
  border: 1px solid;

}


/*type styling  */

.poison {
  background-color: #c7f9b9;
}

.psychic {
  background-color: #48ffc9;
}

.ice {
  background-color: #77b3fd;
}

.steel {
  background-color: #77d2fd;
}

.normal {
  background-color: #ebcf2b;
}

.fire {
  background-color: #f74002;
}

.fighting {
  background-color: #2c619b;

}

.water {
  background-color: #659ad2;
}

.flying {
  background-color: #b4cee9;
}

.grass {
  background-color: #2e9446;
}

.electric {
  background-color: yellow;
}

.ground {
  background-color: #afb9ac;
}

.rock {
  background-color: #623b04;
}

.bug {
  background-color: #5dcf17;
}

.dragon {
  background-color: #980628;
}

.ghost {
  background-color: #ced6f3;
}

.dark {
  background-color: #040825;
}

.fairy {
  background-color: #efaaf8;
}

.stellar {
  background-color: #027951;
}

/* responsive styling */

@media screen and (max-width: 768px) {

  h1 {
    font-size: 2rem; /* smaller font size */
  }

  .container {
    width: 90%; /* full width on smaller screens */

  }
  
  
}

@media screen and (max-width: 480px) {

  h1 {
    font-size: 1.5rem; /* smaller font size */ 
  }

  .container {
    width: 80%; /* with on very small screens*/
  }

  label {
    font-size: 1rem;
  }

}

